﻿@page
@model BelajasASPNET___Practice.Pages.ViewCustomer.AddCustomerModel
@{
}

<div>
    <form method="post">
        <label asp-for="FormCustomer.CustomerName"></label>
        <input asp-for="FormCustomer.CustomerName"/>
        <button type="submit">Submit</button>
</form>
</div>
