﻿@page
@model BelajasASPNET___Practice.Pages.ViewCustomer.DeleteCustomerModel
@{
}

<div>
    <h1>Delete Page</h1>
    <p>Are you sure want to delete @Model.deleteCustomer.CustomerName</p>

    <form method="post">
<button type="submit">Yes</button>
</form>


    <a href="@Url.Page("/ViewCustomer/IndexCustomer")">Back to Index Customer</a>
</div>
