﻿@page
@model BelajasASPNET___Practice.Pages.ViewCustomer.IndexCustomerModel
@{
}

<div>
    <h1>
        <a href="@Url.Page("/Index")">Back To Index</a>
    </h1>
</div>

<div>
    <h1>
        <a href="@Url.Page("/ViewCustomer/AddCustomer")">Insert Customer</a>
    </h1>
</div>

@if (Model.ListCustomer.Count != 0)
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Update or Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.ListCustomer)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>@customer.CustomerName</td>
                        <td>
                            <a href="@Url.Page("/ViewCustomer/UpdateCustomer", new { CustomerId = customer.CustomerId })">Update Customer</a>
                            <a href="@Url.Page("/ViewCustomer/DeleteCustomer", new { CustomerId = customer.CustomerId })">Delete Customer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <form method="post">
        <label asp-for="CustomerId">Customer Id</label>
        <input asp-for="CustomerId" />
        <button type="submit">Search Id</button>
    </form>

    <div>
        @if (Model.FormCustomer != null)
        {
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>Customer Name</th>
                            <th>Update or Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.FormCustomer.CustomerId</td>
                            <td>@Model.FormCustomer.CustomerName</td>
                            <td>
                                <a href="@Url.Page("/ViewCustomer/UpdateCustomer", new { CustomerId = Model.FormCustomer.CustomerId })">Update Customer</a>
                                <a href="@Url.Page("/ViewCustomer/DeleteCustomer", new { CustomerId = Model.FormCustomer.CustomerId })">Delete Customer</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>