﻿@page
@model BelajasASPNET___Practice.Pages.ViewCustomer.UpdateCustomerModel
@{
}

<div>
    <a href="@Url.Page("/ViewCustomer/IndexCustomer")">Back to Index Customer</a>
</div>

<div>
    <form method="post">
        <label asp-for="FormCustomer.CustomerName"></label>
        <input asp-for="FormCustomer.CustomerName" />
        <button type="submit">Submit</button>
    </form>
</div>