﻿@page
@model BelajasASPNET___Practice.Pages.Auth.LoginModel
@{
}


<div>
    Login Page
</div>

<form method="post">
    <div>
        <label asp-for="Form.Email"></label>
        <input asp-for="Form.Email" />
        @Html.ValidationMessageFor(Q => Q.Form.Email)
    </div>
    <div>
        <label asp-for="Form.Password"></label>
        <input type="password" asp-for="Form.Password" />
        @Html.ValidationMessageFor(Q => Q.Form.Password)
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>