﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <h1>
        <a href="@Url.Page("ViewBuku/RedisIndex")">Redis Index</a>
    </h1>

    <h1>
        <a href="@Url.Page("ViewBuku/ApiIndex")">Api Index</a>
    </h1>

    <h1>
        <a href="@Url.Page("./Auth/Logout")">Log out</a>
    </h1>

    <h1>
        <a href="@Url.Page("ViewCustomer/IndexCustomer")">View Customer</a>
    </h1>

    <h1>
        <a href="@Url.Page("ViewCustomerPostgre/IndexCustomer")">View Customer Postgre</a>
    </h1>

    <form method="post">

        <button type="submit">Upload</button>
    </form>
</div>

@if (Model.ListBarang.Count != 0)
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nama Barang</th>
                    <th>Harga Barang</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var barang in Model.ListBarang)
                {
                    <tr>
                        <td>@barang.NamaBarang</td>
                        <td>@barang.HargaBarang</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
