﻿@page
@model BelajasASPNET___Practice.Pages.ViewBuku.ApiIndexModel
@{
}


<h1>
    API Index
</h1>

<div>
    <a href="@Url.Page("/Index")">Back to home</a>
</div>

<div>
    <a href="@Url.Page("/ViewBuku/AddBukuApi")">Add Buku</a>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>ID Buku</th>
                <th>Judul</th>
                <th>Kategori</th>
                <th>Harga</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var buku in Model.allBook)
            {
                <tr>
                    <td>@buku.ID</td>
                    <td>@buku.Judul</td>
                    <td>@buku.Harga</td>
                    <td>@buku.Kategori</td>
                    <td>
                        <a href="@Url.Page("/ViewBuku/UpdateBukuApi", new { id = buku.ID })">Edit</a>
                        <a href="@Url.Page("/ViewBuku/DeleteBukuApi", new { id = buku.ID })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>