﻿@page
@model BelajasASPNET___Practice.Pages.ViewBuku.DeleteBukuApiModel
@{
}

<div>
    Do you want to delete this book?
    <br />
    Book Details:
    <br />
    Title : @Model.form.Judul Category : @Model.form.Kategori Harga : @Model.form.Harga
    <form method="post">
        <button type="submit">Ya</button>
    </form>
</div>