﻿@page
@model BelajasASPNET___Practice.Pages.ViewBuku.UpdateModel
@{
}

<div>
    <a href="@Url.Page("/Index")">Back to Index</a>
</div>

<div>
    <form method="post">
        <div>
            <label asp-for="form.Judul"></label>
            <input asp-for="form.Judul" />
            <span asp-validation-for="form.Judul"></span>
        </div>

        <div>
            <label asp-for="form.Kategori"></label>
            <select asp-for="form.Kategori" asp-items="DropDownKategori.Categories"></select>
            <span asp-validation-for="form.Kategori"></span>
        </div>

        <div>
            <label asp-for="form.Harga"></label>
            <input asp-for="form.Harga"/>
            <span asp-validation-for="form.Harga"></span>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
</form>
</div>